{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Stickfight!</title>

        <link rel="stylesheet" href="{% static "webapp/css/app.css" %}"/>
        <script src="{% static "webapp/components/modernizr/modernizr.js" %}"></script>
    </head>
    <body>
        <header id="site-header">

        </header>

        <div id="content">

        </div>

        <footer id="site-footer">

        </footer>

    <script data-main="app/main.js" src="{% static "webapp/components/requirejs/require.js" %}"></script>
    </body>
</html>
