{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Stickfight!</title>

        <link rel="stylesheet" href="{% static "webapp/static/css/app.css" %}"/>
        <script src="{% static "webapp/static/js/modernizr.js" %}"></script>
    </head>
    <body>
        <header id="site-header"></header>

        <div id="wrapper">
            <div id="content"></div>
            <div class="push"></div>
        </div>

        <footer id="site-footer">

        </footer>

    <script data-main="{% static "webapp/main.js" %}" src="{% static "webapp/static/js/require.js" %}"></script>
    </body>
</html>
