
html, body {
  background: $body-bg;
  -webkit-font-smoothing: $font-smoothing;
  height: 100%;

  div#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;  /* fallback for old browsers */
    margin: 0 auto -8em;
  }

  footer#site-footer, .push {
    height: 8em; /* this must match the above */
  }

  footer#site-footer {
    background: url(../images/backgrounds/farmer.png);
  }

  div.spinner32 {
    background: url(../images/spinner32.gif) no-repeat center top;
    min-height: rem-calc(64);
  }

  div.spinner64 {
    background: url(../images/spinner64.gif) no-repeat center top;
    min-height: rem-calc(128);
  }

}
