
ul.disc.sketchy {
  list-style-image: url(../img/sketchy/ul.sketcy-disc.png);
}

ul.square.sketchy {
  list-style-image: url(../img/sketchy/ul.sketcy-square.png);
}

ul.dash.sketchy {
  list-style-image: url(../img/sketchy/ul.sketcy-dash.png);
}

div.sketchy {
  background: transparent;
  border: 10px solid transparent;
  border-image: url(../img/sketchy/button.sketchty.png) 10 stretch;
  color: $primary-color;
  /*
  -moz-border-image: url(../img/sketchy/button.sketchty-med.png) 30 30 stretch; // Old firefox
  -webkit-border-image: url(../img/sketchy/button.sketchty-med.png) 30 30 stretch; // Safari
  -o-border-image: url(../img/sketchy/button.sketchty-med.png) 30 30 stretch; // Opera
  */
}
