{% load i18n staticfiles sitetree %}

<div class="row">
    <nav class="top-bar" data-topbar data-options="is_hover: false">
        {% for item in sitetree_items %}
            {# make sure this is the parent item #}
            {% if forloop.first %}
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="{{ item.url_resolved }}">
                            <img src="{% static "webapp/static/images/dude.png" %}"></a>
                        </h1>
                    </li>
                    {# Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone #}
                    <li class="toggle-topbar menu-icon"><a href="#"><span>{# Must be left empty #}</span></a></li>
                </ul>
            {% endif %}

            {# top menu items #}
            {% sitetree_children of item for menu template "sitetree/topbar_navmenu/_0items.html" %}
        {% endfor %}
    </nav>
</div>
