
html, body {
  background: $body-bg;
  -webkit-font-smoothing: $font-smoothing;

  header#site-header {

//    .top-bar {
//      a:not(.button) {
//        line-height: 45px;
//      }
//    }
  }

  div#wrapper {
    margin-top: rem-calc(40);
  }

}
