<div class="row">
    <div class="large-12">
        <h3 class="right">Sketchy UI demo page</h3>
    </div>
    <div class="large-6">
        <div class="large-4">
            <hr/>
            <ul class="sketchy square">
                <li>This is a list</li>
                <li>which shows off</li>
                <li>our sketchy square</li>
                <li>bullets.</li>
            </ul>
        </div>
        <div class="large-4">
            <hr/>
            <ul class="sketchy disc">
                <li>We also have</li>
                <li>the sketchy disc</li>
                <li>bullets.</li>
                <li>Pretty nifty, huh?</li>
            </ul>
        </div>
        <div class="large-4">
            <hr/>
            <ul class="sketchy dash">
                <li>Last, but not least</li>
                <li>we have the sketchy dash</li>
                <li>bullets style.</li>
            </ul>
        </div>
    </div>
    <div class="large-6 sketchy">
        <button class="sketchy button">hurra</button>
    </div>
</div>
