
html, body {
  background: $body-bg;
  -webkit-font-smoothing: $font-smoothing;

  header#site-header {

//    .top-bar {
//      a:not(.button) {
//        line-height: 45px;
//      }
//    }
  }

  div#wrapper {
    margin-top: rem-calc(40);
  }

  div.spinner32 {
    background: url(/static/img/spinner32.gif) no-repeat center top;
    min-height: rem-calc(64);
  }

  div.spinner64 {
    background: url(/static/img/spinner64.gif) no-repeat center top;
    min-height: rem-calc(128);
  }

}
