<!DOCTYPE html>
<!--[if IE 8]>        <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en">    <!--<![endif]-->
{% load staticfiles i18n %}
<head>
    <meta charset="utf-8">
    <title>{% block pagetitle %}{% endblock %}</title>

    {# include css files #}
    <link href="{% static "css/app.css" %}" media="screen, projector, print" rel="stylesheet" type="text/css"/>
{#    <link href="{% static "fonts/foundation-icons-3/foundation-icons.css" %}" media="screen, projector, print"#}
{#          rel="stylesheet" type="text/css"/>#}

    {# include javascripts that need to be loaded in head #}
{#    <script src="{% static "js/libs/foundation/js/vendor/jquery.js" %}"></script>#}
{#    <script src="{% static "js/libs/foundation/js/vendor/custom.modernizr.js" %}"></script>#}

    {% block extrahead %}{% endblock %}
</head>
<body>
    {# define a special block to put backbone templates in #}
    {% block backbonetemplates %}{% endblock %}

    <header id="site-header">

    </header>

    <div class="wrapper">
        {% block content %}{% endblock %}
    </div>

    <footer id="site-footer">

        {# include javascripts here #}

        {# backbone stuff #}
        <script data-main="{% static "js/main.js" %}" src="{% static "js/libs/requirejs/require.js" %}"></script>
        {% block extrafooter %}{% endblock %}
    </footer>
</body>
</html>
